<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Startseite</title>
        
    </head>
    <body>
        <div th:fragment="title">
            Startseite
        </div>
        <div th:fragment="content">
            <p th:text=${Username}>Username will be rendered here</p>
            <form action="/your-endpoint" method="get">
                <input type="hidden" name="map" value="test">
                <button type="submit">Send String</button>
            </form>
        </div>
    </body>
</html>